<%= form_with(model: cohort, local: true) do |form| %>
  <% if cohort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cohort.errors.count, "error") %> prohibited this cohort from being saved:</h2>

      <ul>
      <% cohort.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row mb-2">

    <div class="col">
      <%= form.text_field :name, class: "form-control", placeholder:"Cohort Name"%>
    </div>
    <div class="col">
      <%= form.select(:course_i, options_from_collection_for_select(Course.all, :id, :name), :prompt=>"Course")%>
    </div>
  </div>

  <div class="form-row mb-2">
    <div class="col">
      <select class="selectpicker" data-live-search="true" multilple>
        <%instructors.each do |instructor|%>
          <option value="<%=instructor.id%>"><%=instructor.first_name + " "  + instructor.last_name%></option>
        <%end%>
      </select>
      <%# select_tag "instructors", options_from_collection_for_select(instructors, :id, :first_name), class: "selectpicker", data: {"live-search": true}%>
    </div>
    <div class="col"></div>
  </div>



  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
