<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-row mb-2">
    <div class="col">
      <%= form.text_field :first_name, class: "form-control", placeholder:"First Name"%>
    </div>
    <div class="col">
      <%= form.text_field :last_name, class: "form-control", placeholder:"Last Name"%>
    </div>
  </div>

  <div class="form-row mb-2">
    <div class="col-sm-10">
      <%= form.email_field :email, class: "form-control", placeholder:"email@example.com" %>
    </div>
    <div class="col">
      <%= form.number_field :age, class: "form-control", placeholder:"Age (20, 21...149)"%>
    </div>
  </div>

  <div class="form-row mb-2">
    <div class="col">
      <%= form.select(:education_id, [['High School', 1],['Bachelor\'s', 2], ['Master\'s',3], ['PhD', 4]])  %>
    </div>
    <div class="col">
      <%= form.select(:permission_id, [['Admin', 1],['Instructor', 2], ['Student',3]]) %>
    </div>
  </div>

  <div class="form-row mb-2">
    <div class="col">
      <%=form.password_field :password, class:"form-control", placeholder:"Password Minimum 8 Chars"%>
    </div>
  </div>

  <div class="actions">
    <%= form.submit :Submit, class: "btn btn-success btn-block" %>
  </div>
<% end %>
