<%= stylesheet_link_tag 'user_index' %>

<p id="notice"><%= notice %></p>




<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="d-inline">User List</h1>
      <%= link_to(add_user_path, class: "btn btn-info btn-lg add-user-btn") do %>
        Add User
        <i class="fas fa-address-card"></i>
      <% end %> 
      <hr class="list-rule mt-0 mb-4">
    </div>
  </div>
  <div class="row">
    <div class="col pr-0">
      FIRST NAME
      <hr class="header-rule">
      <%@users.each do |user|%>
        <div class="row user-<%=user.id%>">
          <div class="col">
            <%= link_to user.first_name, user %>
            <hr class="index-rule">
          </div>
        </div>
      <%end%>
    </div>
    <div class="col px-0">
      LAST NAME
      <hr class="header-rule">
      <%@users.each do |user|%>
        <div class="row user-<%=user.id%> ">
          <div class="col">
            <%=link_to user.last_name, user%>
            <hr class="index-rule">
          </div>
        </div>
      <%end%>
    </div>
    <div class="col px-0">
      EMAIL
      <hr class="header-rule">
      <%@users.each do |user|%>
        <div class="row user-<%=user.id%> ">
          <div class="col">
            <%=user.email%>
            <hr class="index-rule">
          </div>
        </div>
      <%end%>
    </div>
    <div class="col px-0">
      AGE
      <hr class="header-rule">
      <%@users.each do |user|%>
        <div class="row user-<%=user.id%> ">
          <div class="col">
            <%=user.age%>
            <hr class="index-rule">
          </div>
        </div>
      <%end%>
    </div>
    <div class="col px-0">
      EDUCATION
      <hr class="header-rule">
      <%@users.each do |user|%>
        <div class="row user-<%=user.id%> ">
          <%
            if user.education_id == 1
              education = "High School"
            elsif user.education_id == 2
              education = "Bachelor's"
            elsif user.education_id == 3
              education = "Master's"
            elsif user.education_id == 4
              education = "PhD"
            end
          %>
          <div class="col">
            <%= education%>
            <hr class="index-rule">
          </div>
        </div>
      <%end%>
    </div>
    <div class="col px-0">
      USER TYPE
      <hr class="header-rule">
      <%@users.each do |user|%>
        <div class="row user-<%=user.id%>">
          <%
            if user.permission_id == 1
              type = "Administrator"
            elsif user.permission_id == 2
              type = "Instructor"
            elsif user.permission_id == 3
              type = "Student"
            end
          %>
            <div class="col">
              <%= type%>
              <hr class="index-rule">
            </div>
        </div>
      <%end%>
    </div>
    <div class="col px-0">
      SALARY
      <hr class="header-rule">
      <%@users.each do |user|%>
        <div class="row user-<%=user.id%>">
          <%if user.salary.nil?%>
            <div class="col">
              <%=number_to_currency(0, precision:2)%>
              <hr class="index-rule">
            </div>
          <%else%>
            <div class="col">
              <%=number_to_currency(user.salary, precision: 2)%>
              <hr class="index-rule">
            </div>
          <%end%>
        </div>
      <%end%>
    </div>
    <div class="col pl-0">
        OPTIONS
        <hr class="header-rule">
        <% @users.each do |user| %>
          <div class="row user-#{user.id}">
            <div class="col">
              <div class="btn-group">
                <%= link_to 'Info', user, class: "btn btn-success opt-btn mr-2"%>
                <%= link_to 'Edit', edit_user_path(user), class: "btn btn-warning opt-btn mr-2" %>
                <%= link_to 'Destroy', user, class: "btn btn-danger opt-btn", method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
              </div>
              <hr class="index-rule">
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>

<br>


