<%= stylesheet_link_tag 'user_index' %>

<p id="notice"><%= notice %></p>

<h1>Users</h1>


<div class="container-fluid">
  <div class="row">
    <div class="col">
      First Name
      <%@users.each do |user|%>
        <div class="row user-<%=user.id%>">
          <div class="col">
            <%=user.first_name%>
          </div>
        </div>
      <%end%>
    </div>
    <div class="col">
      Last Name
      <%@users.each do |user|%>
        <div class="row user-<%=user.id%> ">
          <div class="col">
            <%=user.last_name%>
          </div>
        </div>
      <%end%>
    </div>
    <div class="col">
      Email
      <%@users.each do |user|%>
        <div class="row user-<%=user.id%> ">
          <div class="col">
            <%=user.email%>
          </div>
        </div>
      <%end%>
    </div>
    <div class="col">
      Age
      <%@users.each do |user|%>
        <div class="row user-<%=user.id%> ">
          <div class="col">
            <%=user.age%>
          </div>
        </div>
      <%end%>
    </div>
    <div class="col">
      Education
      <%@users.each do |user|%>
        <div class="row user-<%=user.id%> ">
          <%
            if user.education_id == 1
              education = "High School"
            elsif user.education_id == 2
              education = "Bachelor's"
            elsif user.education_id == 3
              education = "Master's"
            elsif user.education_id == 4
              education = "PhD"
            end
          %>
          <div class="col">
            <%= education%>
          </div>
        </div>
      <%end%>
    </div>
    <div class="col">
      User Type
      <%@users.each do |user|%>
        <div class="row user-<%=user.id%>">
          <%
            if user.permission_id == 1
              type = "Administrator"
            elsif user.permission_id == 2
              type = "Instructor"
            elsif user.permission_id == 3
              type = "Student"
            end
          %>
            <div class="col">
              <%= type%>
            </div>
        </div>
      <%end%>
    </div>
    <div class="col">
      Salary
      <%@users.each do |user|%>
        <div class="row user-<%=user.id%>">
          <%if user.salary.nil?%>
            <div class="col">
              <%=number_to_currency(0, precision:2)%>
            </div>
          <%else%>
            <div class="col">
              <%=number_to_currency(user.salary, precision: 2)%>
            </div>
          <%end%>
        </div>
      <%end%>
    </div>
    <div class="col">
      Options
        <% @users.each do |user| %>
          <div class="row user-#{user.id}">
           <div class="col">
            <%= link_to 'Show', user%>
            <%= link_to 'Edit', edit_user_path(user) %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
           </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>

<br>

<%= link_to 'Add User', add_user_path %>
