<%= stylesheet_link_tag 'student_index' %>

<p id="notice"><%= notice %></p>


<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="d-inline">Student List</h1>
      <%= link_to(add_user_path, class: "btn btn-info btn-lg add-user-btn") do %>
        Add Student
        <i class="fas fa-address-card"></i>
      <% end %> 
      <hr class="list-rule mt-0 mb-4">
    </div>
  </div>
  <div class="row">
    <div class="col pr-0">
      FIRST NAME
      <hr class="header-rule">
      <%students.each do |student|%>
        <div class="row user-<%=student.id%>">
          <div class="col">
            <%= link_to student.first_name, student, class:"user-link"%>
            <hr class="index-rule">
          </div>
        </div>
      <%end%>
    </div>
    <div class="col px-0">
      LAST NAME
      <hr class="header-rule">
      <%students.each do |student|%>
        <div class="row user-<%=student.id%>">
          <div class="col">
            <%= link_to student.last_name, student, class:"user-link"%>
            <hr class="index-rule">
          </div>
        </div>
      <%end%>
    </div>
    <div class="col px-0">
      EMAIL
      <hr class="header-rule">
      <%students.each do |student|%>
        <div class="row user-<%=student.id%>">
          <div class="col">
            <%=student.email%>
            <hr class="index-rule">
          </div>
        </div>
      <%end%>
    </div>
    <div class="col px-0">
      AGE
      <hr class="header-rule">
      <%students.each do |student|%>
        <div class="row user-<%=student.id%>">
          <div class="col">
            <%=student.age%>
            <hr class="index-rule">
          </div>
        </div>
      <%end%>
    </div>
    <div class="col px-0">
      EDUCATION
      <hr class="header-rule">
      <%students.each do |student|%>
        <div class="row user-<%=student.id%>">
          <%
            if student.education_id == 1
              education = "High School"
            elsif student.education_id == 2
              education = "Bachelor's"
            elsif student.education_id == 3
              education = "Master's"
            elsif student.education_id == 4
              education = "PhD"
            end
          %>
          <div class="col">
            <%= education%>
            <hr class="index-rule">
          </div>
        </div>
      <%end%>
    </div>
    <div class="col pl-0">
      OPTIONS
      <hr class="header-rule">
        <% students.each do |student| %>
          <div class="row user-<%=student.id%>">
            <div class="col">
              <div class="btn-group">
                  <%= link_to 'Info', student_profile_path(student), class: "btn btn-success opt-btn mr-2"%>
                  <%= link_to 'Edit', edit_user_path(student), class: "btn btn-warning opt-btn mr-2" %>
                  <%= link_to 'Destroy', student, class: "btn btn-danger opt-btn", method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
              </div>
              <hr class="index-rule">
            </div>
          </div>
        <%end%>
      </div>
  </div>
</div>



