<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      Name
      <% @courses.each do |course| %>
        <div class="row course-<%=course.id%>">
          <div class="col">
            <%=course.name%>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col">
      Hours
      <% @courses.each do |course| %>
        <div class="row course-<%=course.id%>">
          <div class="col">
            <%=course.hours%>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col">
      Options
      <% @courses.each do |course| %>
        <div class="row course-<%=course.id%>">
          <div class="col">
            <%= link_to 'Show', course %>
            <%= link_to 'Edit', edit_course_path(course) %>
            <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hours</th>
      <th colspan="3"></th>
    </tr>
  </thead>


<%= link_to 'New Course', new_course_path %>
